@import './Variables.scss';
@import './Global.scss';
@import './Media.scss';

.articles {
	background-color: $veryLightGrayishBlue;
	.articlesContainer {
		margin: $margin;
		padding-top: 80px;
		padding-bottom: 80px;
		.articles__title h3 {
			font-weight: 500;
			font-size: 2em;
		}
		.articles__items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.articles__items--item {
				width: 20%;
				background-color: $white;
				border-radius: 10px;
				& img {
					width: 100%;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
				.articlesItemContainer {
					margin: 18px;
					& span {
						color: $grayishBlue;
					}
					& h4 {
						font-weight: 500;
					}
					& p {
						color: $grayishBlue;
					}
				}
			}
		}
	}
}
