@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

@import './Variables.scss';
@import './Media.scss';

body {
	margin: 0;
	padding: 0;
	font-family: 'Public Sans', sans-serif;
}

.hero,
.features,
.articles,
.footer {
	max-width: 1400px;
	margin: auto;
}

.btn {
	border: none;
	border-radius: 30px;
	font-size: 1em;
	font-weight: bold;
	color: white;
	background: $limeGreen;
	background: linear-gradient(90deg, $limeGreen 0%, $brightCyan 100%);
	padding: 10px 25px 10px 25px;
	cursor: pointer;
	outline: none;
	width: 180px;
	height: 50px;
	&:hover {
		background: linear-gradient(
			90deg,
			$limeGreenHover 0%,
			$brightCyanHover 100%
		);
	}
}

.grid-hero {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	.div1 {
		grid-area: 1 / 1 / 13 / 7;
	}
	.div2 {
		grid-area: 1 / 7 / 13 / 13;
	}
}
