@import './Variables.scss';
@import './Global.scss';
@import './Media.scss';

.header {
	position: fixed;
	z-index: 3;
	height: 100px;
	width: 100%;
	background-color: $white;
	.headerContainer {
		margin: $margin;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		& ul {
			display: flex;
			& li {
				list-style: none;
				margin: 0 25px 0 25px;
				color: $grayishBlue;
				&:hover {
					color: $darkBlue;
					cursor: pointer;
				}
			}
		}

		.header__hamburguer {
			display: none;
		}
	}

	// Responsive menu

	.header__responsive {
		// display: none; HERE!
		.header__responsive--menu {
			background-color: $white;
			text-align: center;
			width: 80%;
			margin-top: 25px;
			border-radius: 5px;
			position: absolute;
			left: 8%;
			right: 0px;

			z-index: 5;
			& ul {
				margin: 0;
				padding: 0;
				& li {
					list-style: none;
					padding: 16px 16px;
					font-weight: 500;
					color: $darkBlue;
					cursor: pointer;
				}
			}
		}

		.header__responsive--background {
			position: absolute;
			width: 100%;
			height: 100vh;
			background: linear-gradient(to bottom, $darkBlue 0%, transparent 100%);
			z-index: 4;
		}
	}
}
