@import './Variables.scss';
@import './Global.scss';
@import './Media.scss';

.hero {
	height: 600px;
	background-image: url('https://raw.githubusercontent.com/LeonidasEsteban/easybank-learning-sass/9382229f2a7c679d20f131a64363810a282b2787/static/images/bg-intro-desktop.svg');
	background-repeat: no-repeat;
	background-position: 410px -102px;
	background-size: 1000px;
	// display: none;
	.heroContainer {
		margin: $margin;
		height: 100%;
		.hero__image img {
			display: block;
			position: relative;
			top: -150px;
			left: -92px;
			z-index: 1;
		}
	}
	.hero__title {
		display: flex;
		align-items: center;
		.hero__title--container {
			max-width: 400px;
			min-width: 100px;
			padding-right: 70px;
			& h1 {
				font-size: 2.5em;
				font-weight: 300;
			}
		}
	}
}

.heroMobile {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.heroMobile__images {
		height: 400px;
		width: 100%;
		background-image: url('https://raw.githubusercontent.com/LeonidasEsteban/easybank-learning-sass/9382229f2a7c679d20f131a64363810a282b2787/static/images/bg-intro-mobile.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 650px;
		text-align: center;
		& img {
			width: 330px;
		}
	}
	.heroMobile__text--container {
		padding: 40px;
		text-align: center;
		& h1 {
			font-size: 2em;
			font-weight: 500;
		}

		& p {
			color: $grayishBlue;
		}
	}
}
