// Variables
// $max-width: 1440px;
$margin: auto 140px;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$limeGreenHover: hsl(136, 68%, 44%);
$brightCyanHover: hsl(192, 75%, 46%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGrayishBlue: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
