.justBackgroundHero {
  position: absolute;
  top: -282px;
  right: -70px;
  z-index: -1;
  width: 50%;
}


.Hero {
  // This code does not work beacuse of the wrapper
  background-image: url('https://raw.githubusercontent.com/AndresCampuzano/Landing-Page-Manage-React/65a77b687d551d020703ba92ee687854188a5925/src/components/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 130% -320px;
  // background-size: auto;

  // background-image: url(https://raw.githubusercontent.com/AndresCampuzano/Landing-Page-Manage-React/65a77b687d551d020703ba92ee687854188a5925/src/components/images/bg-tablet-pattern.svg);
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-size: 78%;
  // background-position: right -191% top 93%;

  .Hero-gridDesktop {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .Hero-containerOne {
      margin-top: 120px;
      // margin: auto;
      padding-right: 25%;

      h1 {
        font-size: 3em;
        font-weight: 700;
      }

      p {
        margin: 15px 0;
        color: #9095a7;
      }

      .normalButton {
        padding: 14px 22px 12px 22px;
        border-radius: 20px;
        border: none;
        background-color: #F3613C;
        color: white;
        -webkit-box-shadow: 0px 10px 32px -14px #f3613c;
        -moz-box-shadow: 0px 10px 32px -14px #f3613c;
        box-shadow: 0px 10px 32px -14px #f3613c;
        font-weight: 700;
        font-size: 0.9em;
      }

      .normalButton:hover {
        background-color: #f78669;
      }
    }

    .Hero-containerTwo {
      margin-top: 150px;
      .Hero-containerTwo--images {
        // margin: auto;
        img {
          width: 390px;
        }
      }
    }
  }
}

.Hero-mobile {
  text-align: center;
  .justBackgroundHero-Mobile {
    position: absolute;
    top: -50px;
    right: -70px;
    z-index: -1;
    img {
      width: 429px;
    }
  }
  .charts-Mobile img {
    width: 80%;
    margin-top: 120px;
  }
  .text-Mobile {
    h1 {
      font-size: 3em;
      font-weight: 700;
    }
    p {
      margin: 15px 0;
      color: #9095a7;
    }
    .normalButton {
      padding: 14px 22px 12px 22px;
      border-radius: 20px;
      border: none;
      background-color: #F3613C;
      color: white;
      -webkit-box-shadow: 0px 10px 32px -14px #f3613c;
      -moz-box-shadow: 0px 10px 32px -14px #f3613c;
      box-shadow: 0px 10px 32px -14px #f3613c;
      font-weight: 700;
      font-size: 0.9em;
    }
    .normalButton:hover {
      background-color: #f78669;
    }

  }

}