
@media (min-width : 1025px) {
  .Mobile-menu {
    display: none;
  }

  .Hero .Hero-mobile {
    display: none;
  }

  .Carousel-Mobile {
    display: none;
  }

  .orange-Mobile {
    display: none;
  }

  .menu-mobile-div {
    display: none;
  }

  .copyright-mobile {
    display: none;
  }
}

@media (max-width : 1024px) {



  // Header
  .Header-menuDesktop {
    display: none;
  }

  .Header .normalButton {
    display: none;
  }

  // Hero

  .Hero .Hero-mobile {
    display: none;
  }

  // Testimonials

  .Carousel-Mobile {
    display: none;
  }

  // Footer

  .orange-Mobile {
    display: none;
  }

  .menu-mobile-div {
    display: none;
  }

  .copyright-mobile {
    display: none;
  }

}

@media (max-width : 768px) {

  // Header ----


  // Hero -----

  .Hero .wrapper {
    display: none;
  }

  .Hero .Hero-mobile {
    display: initial;
  }

  .text-Mobile {
    margin: auto;
    width: 80%;
  }

  // About ----

  .About .About-grid {
    text-align: center;
    display: flex;
    flex-direction: column;
    .About-containerOne--title {
      padding-right: 0;
    }
    .About-containerTwo .About-containerTwo--item p {
      margin: 15px 0 15px 0;
      color: #9095a7;
      text-align: left;
  }
  }

  // Testimonials

  .Carousel-Desktop {
    display: none;
  }

  .Carousel-Mobile {
    display: initial;
  }

  // Footer 

  .orange {
    display: none;
  }

  .orange-Mobile {
    display: block;
  }

  .Footer .orange-Mobile .orange-container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .Footer .black {
    height: auto;
  }

  .Footer .black .black-container {
    flex-direction: column-reverse;
    padding: 35px 0;
  }

  .copyright-desktop {
    display: none;
  }

  .copyright-mobile {
    display: block;
  }

  .menuOne, .menuTwo {
    display: none;
  }

  .menu-mobile-div {
    display: flex;
  }

  .logoAndSocialMedia {
    display: flex;
    flex-direction: column-reverse;
    
  }
  .Footer .black .black-container .logoAndSocialMedia .socialMedia {
    margin-top: 0;
    margin-bottom: 35px;
  }

  .Footer .black .black-container .logoAndSocialMedia .socialMedia img {
    width: 33px;
    margin: 0 12px;
  }

}

@media (max-width : 450px) {

  // Hero

  .Hero-mobile .text-Mobile h1 {
    font-size: 2.5em;
  }
}