.Testimonials {
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 2em;
    margin: 100px 0 55px 0;
  }

  .normalButton {
    margin-top: 25px;
    padding: 14px 22px 12px 22px;
    border-radius: 20px;
    border: none;
    background-color: #F3613C;
    color: white;
    -webkit-box-shadow: 0px 10px 32px -14px #f3613c;
    -moz-box-shadow: 0px 10px 32px -14px #f3613c;
    box-shadow: 0px 10px 32px -14px #f3613c;
    font-weight: 700;
    font-size: 0.9em;
  }

  .normalButton:hover {
    background-color: #f78669;
  }
}